/* Banner inicio head */
/* .titulo_head_home {
    padding: 70px 0 100px 0;
} */
.banner_head_home > div {
    padding: 70px 0px 100px 0px;
}
.titulo_head_home {
    font-size: 3.9em;
    font-weight: 700;
}
